[Interface]
Address = 10.0.0.2/24
ListenPort = 51820
PrivateKey = {{ private_key_client['content'] | b64decode }}
DNS = 10.0.0.2


[Peer]
PublicKey = {{ public_key_server['content'] | b64decode }}
AllowedIPs = 0.0.0.0/0, ::/0
Endpoint = {{ ansible_host }}:51820
PersistentKeepalive = 15
