---
- hosts: all
  become: yes
  vars:
    wireguard_port: "5888"
    wireguard_path: "/etc/wireguard"
    wireguard_sources_path: "/var/cache"
    wireguard_network_name: "private"
    debian_enable_backports: true
    debian_pin_packages: true
    client_vpn_ip: "10.1.0.100/8"
    client_wireguard_path: "~/wg.conf"
    client_wireguard_dns: false
    wireguard_additional_peers: false
    wireguard_post_up: false
    wireguard_post_down: false
  tasks:
  - name: ensure packages is installed 
    apt:
      pkg:
      - vim
      - wget
      - syslinux-utils
      - syslinux
      - curl
      - unzip
      - nginx
      - software-properties-common
      - dnsmasq
      update_cache: yes
      state: latest

  - name: Template a file to /etc/dnsmasq.conf
    ansible.builtin.template:
      src: templates/dnsmasq.conf.j2
      dest: /etc/dnsmasq.conf
      owner: root
      group: root
      mode: '0644'

  - name: Template a file to /etc/nginx/sites-enabled/default
    ansible.builtin.template:
      src: templates/default.j2
      dest: /etc/nginx/sites-enabled/default
      owner: root
      group: root
      mode: '0644'

  - name: Run shell
    ansible.builtin.shell: |
      ip addr add 10.10.10.1/24 dev eth2
      ip link set eth2 up
      nginx -t
      nginx -s reload
      unlink /etc/resolv.conf
      echo 'nameserver 8.8.8.8' > /etc/resovl.conf
      systemctl stop systemd-resolved.service
      mkdir -p /srv/tftp /srv/tftp/pxelinux.cfg
      mkdir -p /ubuntu
      wget http://archive.ubuntu.com/ubuntu/dists/focal/main/installer-amd64/current/legacy-images/netboot/ubuntu-installer/amd64/pxelinux.0
      cp pxelinux.0 /srv/tftp
      wget http://cdimage.ubuntu.com/ubuntu-server/focal/daily-live/current/focal-live-server-amd64.iso
      mount focal-live-server-amd64.iso /mnt
      cp /mnt/casper/initrd /srv/tftp
      cp /mnt/casper/vmlinuz /srv/tftp
      cp -r /mnt/isolinux /srv/tftp
      umount focal-live-server-amd64.iso
      systemctl restart dnsmasq.service
    args:
      executable: /bin/bash

  - name: Template a file to /srv/tftp/pxelinux.cfg/default
    ansible.builtin.template:
      src: templates/dnsmasq_pxe.j2
      dest: /srv/tftp/pxelinux.cfg/default
      owner: root
      group: root
      mode: '0644'

