server {
        listen 8880 default_server;

        root /var/www/html;
        index index.html index.htm index.nginx-debian.html;
        server_name {{ ansible_host }}.nip.io;

        location / {
                try_files $uri $uri/ =404;
                access_log /var/log/rotated.access.log;
                error_log  /var/log/rotated.error.log;
        }
}


