log_format logz '$remote_addr - $time_local - $request - $status';
server {
        listen 80 default_server;
        listen [::]:80 default_server;
        root /var/www/html;
        # Add index.php to the list if you are using PHP
        index index.nginx-debian.html;
        access_log /var/log/nginx/xip.access.log logz;
        server_name {{ domain }};

        location / {
                try_files $uri $uri/ =404;
        }

        location /rbm_images/ {
               alias /var/www/rebrain/images/;
        }
}
