[Unit]
Description=etcd key-value store
Documentation=https://github.com/etcd-io/etcd
After=network.target

[Service]
User=etcd
Group=etcd
Type=notify
ExecStart=/task14/etcd/etcd --config-file /etc/etcd/etcd.yml
Restart=always

[Install]
WantedBy=multi-user.target
