# Global settings
domain-needed
bogus-priv
no-resolv
# expand-hosts
port=53
filterwin2k

local=/rebrain.me/
domain=rebrain.me

# Upstream nameservers
#server=8.8.4.4
#server=8.8.8.8
server=127.0.0.1#5353

listen-address=127.0.0.1
listen-address=10.19.0.5


