server {
  listen 8081;

  server_name {{ ansible_host }}.nip.io default;

  root /var/www/phpinfo;

  index index.php index.html;

  location ~* \.(jpg|jpeg|gif|png|css|js|ico|xml|html)$ {
    try_files         $uri $uri/ /index.php?$query_string;
    access_log        off;
    log_not_found     off;
    expires           1d;
  }

  location / {
    client_max_body_size 8m;
    client_body_buffer_size 128k;
    try_files $uri $uri/ /index.php?$query_string;
  }

  location ~ \.php$ {
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass  unix:/run/php/php7.4-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    include fastcgi_params; # может содержать директивы передачи параметров по протоколу FastCGI
  }
}
