---
- name: Update apt
  apt: update_cache=yes

- name: Add the APT Key for ClickHouse.
  apt_key:
    keyserver: hkp://keyserver.ubuntu.com:80
    id: E0C56BD4
    state: present
  become: true

- name: add clickhouse repo
  ansible.builtin.apt_repository:
    repo: deb https://repo.clickhouse.com/deb/stable/ main/
    state: present
    filename: clickhouse.list

- name: Install Clickhouse Packages
  apt: name={{ item }} state=latest
  loop:
    - 'clickhouse-server'
    - 'clickhouse-client'

- name: Restart service clickhouse service 
  ansible.builtin.systemd:
    state: restarted
    daemon_reload: yes
    name: clickhouse-server

#- name: Create ClickHouse databases
#  command: clickhouse-client --query="CREATE DATABASE {{ item }};"
#  loop: "{{ clickhouse_databases | default([]) }}"
#  register: command_result
#  changed_when: command_result.rc == 0
#  failed_when: command_result.rc != 0 and command_result.rc != 82

- name: Create ClickHouse destination table
  changed_when: no
  command: >
    clickhouse-client --query
    "CREATE TABLE IF NOT EXISTS default.local_posts (
       id Int64,
       title String,
       description String,
       content String,
       user_id Int64,
       date Date
    )
    ENGINE = MergeTree()
    PARTITION BY toYYYYMM(date)
    ORDER BY id;"

- name: Add entry to default.local_posts
  changed_when: no
  command: >
    clickhouse-client --query
    "INSERT INTO default.local_posts VALUES
        (1,'title1','description1','content1',1,2020-10-10),
        (2,'title2','description2','content2',2,2020-10-10);
    "

- name: Create CSV file /var/lib/clickhouse/user_files/users.csv
  changed_when: no
  shell: |
    cat << EOF > /var/lib/clickhouse/user_files/users.csv 
    user_id,email
    1,marat@mail.ru
    2,denis@mail.ru
    EOF

- name: Create CSV file /var/lib/clickhouse/user_files/users.csv
  changed_when: no
  shell: |
    chown clickhouse:clickhouse /var/lib/clickhouse/user_files/users.csv 

- name: sleep for 10 seconds and continue with play
  wait_for:
    timeout: 10

- name: Create Dictionary local_users_dict which will use CSV file /var/lib/clickhouse/user_files/users.csv
  changed_when: no
  command: >
    clickhouse-client --query
    "
    CREATE DICTIONARY local_users_dict (
        user_id UInt64 DEFAULT 0,
        email String
    ) 
    PRIMARY KEY user_id
    SOURCE(FILE(
        path '/var/lib/clickhouse/user_files/users.csv'
        format 'CSVWithNames'
    ))
    LAYOUT(FLAT())
    LIFETIME(10);
    "

- name: Create SQL Query in order to load the Dictionary
  changed_when: no
  command: >
    clickhouse-client --query
    "
    SELECT 
        dictGetString('local_users_dict', 'email', toUInt64(user_id)) AS email_addr,
        title,
        description,
        content
    FROM local_posts;"
