DEFAULT install
LABEL install
  KERNEL vmlinuz
  INITRD initrd
  APPEND root=/dev/ram0 ramdisk_size=1500000 ip=dhcp url=http://10.10.10.1/iso/focal-live-server-amd64.iso autoinstall ds=nocloud-net;s=http://10.10.10.1/image/
