[SERVICE]
    Flush           5
    Daemon          off
    Log_Level       debug
[INPUT]
    Name tail
    Path /var/log/fluent
[OUTPUT]
    Name  es
    Match *
    Host  68.183.65.82
    Port  9200
    tls               On
    tls.verify        Off
    HTTP_User admin
    HTTP_Passwd admin
    Logstash_Format On
    Logstash_Prefix fbit
    Type  doc
