tickTime=2000
dataDir=/var/lib/zookeeper
clientPort=2181
maxClientCnxns=60
initLimit=10
syncLimit=5
server.1={{ hostvars['server1'].ansible_host }}:2888:3888
server.2={{ hostvars['server2'].ansible_host }}:2888:3888
server.3={{ hostvars['server3'].ansible_host }}:2888:3888
