client
tls-client
comp-lzo
remote-cert-tls server
pull
dev tun
proto udp
remote {{ openvpn_client_server }}
port 1194
resolv-retry infinite
nobind
user nobody
group {{ openvpn_group }}
persist-key
persist-tun
key-direction 1
comp-lzo
verb 3
auth SHA512
cipher "AES-256-CBC"
ca       [inline]
cert     [inline]
key      [inline]
tls-auth [inline] 1
