<?php
define( 'DB_NAME', 'wordpress' );
define( 'DB_USER', 'wordpress' );
define( 'DB_PASSWORD', 'wordpress' );
define( 'DB_HOST', '54.244.102.255' );
define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );
define('FS_METHOD', 'direct');

define('AUTH_KEY',         '&Ufh7..almY`$$cr%X~7[4*rwR_?&` |jX2vH+rVZDITZ8Te^|#Cz<{7kH7Msm4,');
define('SECURE_AUTH_KEY',  '|C0d3h%~MmGh;/.NTF^<{,#RU]h6vQf3bK9[3v|k[uh`QUVE*0Fb/@K9u#P82VE;');
define('LOGGED_IN_KEY',    'lAOtOZ-yJ>qtR)G}[0ybu[*8v=yV3&/zhWrEgHbI+($dXh3<R+w =`7HrYN.KY3x');
define('NONCE_KEY',        '/wI/5Odzm%0[NUtg?MT#hknz*Y++zDT~V=B1cQxhVvRF}6(|/J6N%%P>Pt+E)P4S');
define('AUTH_SALT',        '5o%S`)q0cw|7&TQT1}]=Cy)y%&Qo49hZHRc+C.?/&a6G)-yuA3#9H#JSuvK,]-/*');
define('SECURE_AUTH_SALT', '$|9RbFHHQX$jBHY=>0IMb:C/*3C>_u<3n[339EV4/S]]8,}|iXV/+W~L(V{7Fn_C');
define('LOGGED_IN_SALT',   'ff+c1U+2:Kq!@oYFVV+)Cm2N+%C<^C R=kuKF.9:w:]}+ejGL.iROpK>.@M<`7q8');
define('NONCE_SALT',       ' j^_5L2tFTMzF)X#t7?yW^V3+KB)esPm##xEa7Kk#XfM=>t.jBN6iZP]b$uxX=M]');

$table_prefix = 'wp_';
define( 'WP_DEBUG', false );

define('WP_CONTENT_DIR', '/usr/share/wordpress/wp-content');
